@tailwind base;
@tailwind components;
@tailwind utilities;


/* Container to hold the slider and value */
/* Full-width color for the slider track */
.poppins {
  font-family: var(--font-poppins);
}

.montserrat {
  font-family: var(--font-montserrat);
}


html {
  scroll-behavior: smooth;
}





